@keyframes puff-in-ver {
    0% {
        transform: scaleY(2);
        filter: blur(2px);
        opacity: 0
    }
    to {
        transform: scaleY(1);
        filter: blur(0);
        opacity: 1
    }
}

.GRIMOIRE_CSS_ANIMATION {
  animation-name: puff-in-ver;
}
