@keyframes slide-bck-right {
    0% {
        transform: translateZ(0) translateX(0)
    }
    to {
        transform: translateZ(-400px) translateX(200px)
    }
}

.GRIMOIRE_CSS_ANIMATION {
  animation-name: slide-bck-right;
}
