@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0
    }
    to {
        filter: blur(0);
        opacity: 1
    }
}

.GRIMOIRE_CSS_ANIMATION {
  animation-name: text-focus-in;
}
