@keyframes fade-out-fwd {
    0% {
        transform: translateZ(0);
        opacity: 1
    }
    to {
        transform: translateZ(80px);
        opacity: 0
    }
}

.GRIMOIRE_CSS_ANIMATION {
  animation-name: fade-out-fwd;
}
