@keyframes roll-out-blurred-top {
    0% {
        transform: translateY(0) rotate(0deg);
        filter: blur(0);
        opacity: 1
    }
    to {
        transform: translateY(-800px) rotate(-720deg);
        filter: blur(50px);
        opacity: 0
    }
}

.GRIMOIRE_CSS_ANIMATION {
  animation-name: roll-out-blurred-top;
}
