@keyframes rotate-in-2-ccw {
    0% {
        transform: rotate(45deg);
        opacity: 0
    }
    to {
        transform: rotate(0);
        opacity: 1
    }
}

.GRIMOIRE_CSS_ANIMATION {
  animation-name: rotate-in-2-ccw;
}
