@keyframes rotate-out {
  from {
    opacity: 1;
  }

  to {
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

.GRIMOIRE_CSS_ANIMATION {
  animation-name: rotate-out;
  transform-origin: center;
}
