@keyframes rotate-bottom {
    0% {
        transform: rotate(0);
        transform-origin: bottom
    }
    to {
        transform: rotate(360deg);
        transform-origin: bottom
    }
}

.GRIMOIRE_CSS_ANIMATION {
  animation-name: rotate-bottom;
}
