@keyframes swing-left-bck {
    0% {
        transform: rotateY(0);
        transform-origin: left bottom
    }
    to {
        transform: rotateY(180deg);
        transform-origin: left bottom
    }
}

.GRIMOIRE_CSS_ANIMATION {
  animation-name: swing-left-bck;
}
