@keyframes tracking-out-expand {
    0% {
        opacity: 1
    }
    60% {
        opacity: .8
    }
    to {
        letter-spacing: 1em;
        opacity: 0
    }
}

.GRIMOIRE_CSS_ANIMATION {
  animation-name: tracking-out-expand;
}
