@keyframes tracking-out-contract {
    0%,
    50% {
        opacity: 1
    }
    to {
        letter-spacing: -.5em;
        opacity: 0
    }
}

.GRIMOIRE_CSS_ANIMATION {
  animation-name: tracking-out-contract;
}
